*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}
#main {
    width: 100%;
    background-color: #fff;
}

#home {
    width: 100%;
    min-height: 100vh;
}
#cursor{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 999;
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}

#nav p {
    width: 100px;
    font-size: 3vh;
}

#nav #right {
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a {
    text-decoration: none;
    font-weight: 400;
    color: #000;
    font-size: 1.2vw;
    letter-spacing: -1px;
}

#nav i {
    margin-top: 3px;
    font-size: 20px;
}
#home #homemain{
    width: 100%;

    padding: 15vw 8vw;
}
#homemain h3{
    font-weight: 500;
    font-size: 1.8vw;
}
#homemain h1{
    font-size: 7.6vw;
    letter-spacing: -2px;
    color: transparent;
    -webkit-text-stroke: 0.5px #000;
    font-family: 'Black Ops One', cursive;
    
}
.heading{
    display: flex;
    gap: 40px;
}
#homemain .heading h1:hover{
    color: black;
}